# Esempio di configurazione variabili d'ambiente locali
# Rinonima o copia questo file in .env.local (incluso nel .gitignore per non esporre mai i segreti su git)

# Inserisci la stringa di connessione ottenuta dalla console Neon dopo la rotazione della password:
DATABASE_URL="postgresql://neondb_owner:YOUR_PASSWORD@ep-bold-lab-b4qsw46x-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require"
